body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #444;
}

.container {
  width: 90%
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

header {
  background-color: #007bff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo {
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo img {
  height: 1.9em;
  width: auto;
  margin-right: 5px;
}

header .website-title {
  font-size: 24px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

nav ul li {
  display: inline;
  margin-right: 25px;
}

section {
  padding: 60px 0;
  background-color: #cfe2f3;
  border-top: 1px solid #ddd; 
  text-align: center;
}

section.dark-bg {
  background-color: #0056b3;
  color: #fff;
}

footer {
  text-align: center;
  padding: 30px 0;
  background-color: #002147;
  color: #ddd; /* Lighter text */
}
